
    {% extends "layout.html" %}
    {% block conteudo %}
<!-- Banner -->
    <section class="banner">
      <div class="banner__content">
        <h1 class="banner__title">
          Code & <span class="banner__title--highlight">Flavor</span>
        </h1>
        <p class="banner__subtitle">
          O melhor hambúrguer da cidade compilado para você.
        </p>
      </div>
    </section>

<!-- Escolha Rápida  -->
    <section class="categories">
      <div class="categories__container">
        <h2 class="categories__title">Escolha Rápida</h2>

        <div class="categories__list">
          {% for produto in produtos %}
           {% if produto.disponibilidade %}
          <div class="category-item">
            <img
              src="{{produto.foto}}"
              alt="Lanche 1"
              class="category-item__img"
            />
            <a href="/produto/{{produto.codigo}}" class="button button--small">EU QUERO</a>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </section>

<!-- Produtos do Menu -->
    <section class="products" id="menu">
      <div class="products__container">
        <h2 class="products__title">Nossos Destaques</h2>

        <div class="products__grid">
          {% for produto in produtos %}
          {% if produto.disponibilidade %}
          <article class="card" id="lanche-1">
            <div class="card__image-wrapper">
              <img
                src="{{produto.foto}}"
                alt="{{produto.produto}}"
                class="card__image"
              />
            </div>
            <div class="card__body">
              <h3 class="card__title">{{produto.produto}}</h3>
              <p class="card__description">
                {{produto.descricao}}
              </p>
              <div class="card__footer">
                <span class="card__price">R$ {{produto.preco}}</span>
                <button class="button button--small">
                  <a href="/produto/{{produto.codigo}}">Comprar</a></button>
              </div>
            </div>
          </article>
          {% endif %}
          {% endfor %}
        </div>

        <div style="text-align: center; margin-top: 40px">
          <a href="#menu" class="button button--primary"
            >Voltar para Destaques</a
          >
        </div>
      </div>
    </section>
    <aside class="cart-sidebar" id="secao-carrinho">
        <div class="cart-sidebar__header">
            <h2 class="cart-sidebar__title">Meu Carrinho</h2>
            <span class="material-symbols-outlined cart-sidebar__close" id="fechar">close</span>
        </div>

        <div class="cart-sidebar__content" id="carrinho">
            <div style="width: 100%;" class="cart-item" >
                <div class="cart-item__info">
                    <p class="cart-item__name">Classic Dev</p>
                    <p class="cart-item__price">R$ 29,90</p>
                </div>
                <button class="cart-item__remove">Remover</button>
            </div>
        </div>

        <div class="cart-sidebar__footer">
            <div class="cart-total">
                <span>Total:</span>
                <span class="cart-total__value">R$ 0,00</span>
            </div>
            <button class="button button--primary cart-checkout-btn">Finalizar Pedido</button>
        </div>
    </aside>
    <script src="../static/src/js/carrinho.js"></script>
    {% endblock %}
